*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    margin-top: 150px;
}
.button input{
    display: none;
}
.button i{
    font-size: 50px;
    color: chocolate;
    position: relative;
    top: 10vh;
    left: 60vh;
}
img{
    width: 250px;

}
.rmv-btn{
    background-color: rgb(212, 33, 33);
    color: white;
}
.rmv-all-btn button{
   background-color: blue;
}